<section>
  <h2>
    <%= 'accounts.title'.t(name: @userinfo.try(:name) || '-- NO NAME --') %>
  </h2>
  <article>
    <h3><%= 'open_id.access_token.title'.t %></h3>
    <pre><%= @open_id.access_token || 'No access_token' %></pre>
  </article>
  <article>
    <h3><%= 'open_id.userinfo.title'.t %></h3>
    <% if @userinfo.present? %>
      <pre><%= JSON.pretty_generate @userinfo.as_json %></pre>
    <% else %>
      <pre>UserInfo Unavailable</pre>
    <% end %>
  </article>
  <article>
    <h3><%= 'open_id.id_token.title'.t %></h3>
    <pre class="jwt"><%= @open_id.id_token %></pre>
    <pre><%= JSON.pretty_generate @open_id.check_id!.as_json %></pre>
  </article>
</section>